<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>PetStterz</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<<<<<<< HEAD
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
      type="text/css"
    />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/homestyle.css" />
	</head>
  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">PetStterz</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">HOME</a></li>
						<li><a href="/register">REGISTER</a></li>
            <li><a href="#" class="profile-button">PROFILE</a></li>
            <li><a href='/maps'>MAP</a></li>
            
            <li>
              <a href="#"><span class="glyphicon glyphicon-search"></span></a>
            </li>
          </ul>
        </div>
=======
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css" />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/homestyle.css" />
  <script src="https://www.gstatic.com/firebasejs/5.9.3/firebase.js"></script>
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">PetStterz</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">HOME</a></li>
          <li><a href="/register">REGISTER</a></li>
          {{!-- <li><a href="/provider">PROVIDERS</a></li> --}}
          <li><a href="#" class="profile-button">PROFILE</a></li>
          <li><a href="/map">MAP</a></li>

          <li>
            <a href="#"><span class="glyphicon glyphicon-search"></span></a>
          </li>
        </ul>
>>>>>>> 7928980dbb6fff7fd8440e594413fa0b116f42d6
      </div>
    </div>
  </nav>

  {{{ body }}}

  <img src="./assets/images/german.jpg" class="img-responsive" style="width:100%" />

  <footer class="text-center">
    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
      <span class="glyphicon glyphicon-chevron-up"></span> </a><br /><br />
    <p>
      A Production Made By The guacamoleClub
      <a href="https://github.com/pyromaniac14281/PetStterz" data-toggle="tooltip"
        title="Visit our github">https://github.com/pyromaniac14281/PetStterz</a>
    </p>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/${JSCORE_VERSION}/firebase.js"></script>

  <script src="/assets/js/home.js"></script>
</body>

</html>