<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/assets/images/dog.jpg" alt="Dog" width="1200" height="700" />
      <div class="carousel-caption">
        <h3>Rover</h3>
        <p>
          Rover likes to cuddle and play fetch. He is shy to unknown people so be careful!</p>
      </div>
    </div>

    <div class="item">
      <img src="/assets/images/glasses.jpg" alt="Doggo" width="1200" height="700" />
      <div class="carousel-caption">
        <h3>Spot</h3>
        <p>Loves to act smart, and is also extremely messy.</p>
      </div>
    </div>

    <div class="item">
      <img src="/assets/images/golden.jpg" alt="Doge" width="1200" height="700" />
      <div class="carousel-caption">
        <h3>Dude</h3>
        <p>
          Is an intelligent doggo that is playful and hides the morning newspapers all the time.
        </p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div id="pet" class="container text-center">
  <h3>PetStterz</h3>
  <p><em>We love Pets!</em></p>
  <p>
    We as PetStterz supervise cats, dogs, and other pets while their owners are away. 
    Key responsibilities include providing food and water, grooming, administering 
    medicine, taking dogs out for a walk, and providing companionship. Sign up today
    to become a member of either PetStterz or as a client providing the service for your 
    petz.
  </p>
  <br />
</div>


<!-- Container (Contact Section) -->
<div id="contact" class="container">
  <h3 class="text-center">Questions or Concerns</h3>
  <p class="text-center"><em>We love our pets!</em></p>

  <div class="row">
    <div class="col-md-4">
      <p><span class="glyphicon glyphicon-map-marker"></span>Atlanta, US</p>
      <p>
        <span class="glyphicon glyphicon-phone"></span>Phone: +00 1515151515
      </p>
      <p>
        <span class="glyphicon glyphicon-envelope"></span>Email:
        mail@mail.com
      </p>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required />
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="mail" name="mail" placeholder="Email" type="mail" required />
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
      <br />
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
  <br />

</div>
</div>