<div class="container col-sm-12" id="mainform">
    <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Sign Up</div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" method="post" action="/signup"
                    onSubmit="return checkblank(this);">
                    <div class="alert alert-success col-sm-12">Please fill out the form below (All fields that have *
                        are required):</div>
                    <div id="signupalert" style="display:none" class="alert alert-danger">
                        <p>Error:</p>
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label for="user_name" class="col-md-3 control-label">User Name*</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="user_name" name="user_name"
                                placeholder="User Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="first_name" class="col-md-3 control-label">First Name*</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id='first_name' name="first_name"
                                placeholder="First Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="last_name" class="col-md-3 control-label">Last Name*</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="last_name" name="last_name"
                                placeholder="Last Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">Password*</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" id='password' name="password"
                                placeholder="Password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmpassword" class="col-md-3 control-label">Confirm Password*</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" id='confirm-password' name="confirm-password"
                                placeholder="Confirm Password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mob_no" class="col-md-3 control-label">Mobile Number*</label>
                        <div class="col-md-9">
                            <input type="tel" id="mob_no" name="mob_no" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                                placeholder="123-456-7890" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="last_name" class="col-md-3 control-label">Address*</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="address" name="Address" placeholder="Address"
                                required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="last_name" class="col-md-3 control-label">Zipcode*</label>
                        <div class="col-md-9">
                            <input type="numbers" class="form-control" id="zipcode" name="Zipcode" placeholder="Zipcode"
                                required>
                        </div>
                    </div>
                    <div class="card">
                        <label class="file-upload-container" for="file-upload">Profile Image*
                            <input id="file-upload" type="file" required>
                        </label>
                    </div>
                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn-signup" type="submit" class="btn btn-info"></a><i
                                    class="icon-hand-right"></i> &nbsp Sign
                                Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="/assets/js/client.js"></script>
